* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#container1 {
    width: 33.3%;
    background: palevioletred;
}

#container2 {
    width: 33.34%;
    background: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container3 {
    width: 33.33%;
    background: lightcoral;
}

.btn {
    padding: 15px 50px;
    border: 2px solid black;
    border-radius: 10px;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    transition: 0.4s ease;
}